.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 30px;
  margin-bottom: 30px;
}

.roundedInput {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.btnForm {
  padding: 10px;
  border-radius: 10px;
  border: none;

  font-family: Roboto;

  font-weight: 600;
  font-size: 16px;

  letter-spacing: 0.06em;
}

.btnForm:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
